/* 基本样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1400px; /* 增加最大宽度 */
    width: 90%; /* 设置宽度为90%以提供更大的灵活性 */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


h1, h2 {
    color: #333;
    text-align: center;
}

p, ul {
    color: #666;
    text-align: center;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* 图片样式 */
img {
    max-width: 90%; /* 默认情况下，图片的最大宽度为90% */
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 媒体查询，为大屏幕提供更大的内边距和外边距 */
@media (min-width: 992px) {
    .container {
        padding: 40px;
        margin: 40px auto;
    }
    img {
        max-width: 70%; /* 在大屏幕上，图片的最大宽度为70% */
    }
    p {
        max-width: 70%;
        margin: 10px auto;
        text-align: center;
    }
}

/* 导航样式 */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* 页脚样式 */
footer {
    text-align: center;
}
